body {
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;

}

nav {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    column-gap: 30px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 250px;
    background-color: white;
    box-shadow: 5px 5px 7px 1px gray;
    border-radius: 4px;
}