body {
    margin: 0;
}

.page {
    background-color: rgb(216, 216, 216);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card-container {
    background-color: red;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

nav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: white;
    box-shadow: 5px 5px 7px 1px gray;
    border-radius: 4px;
}