body {
    background-color: gray;
}

nav {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    column-gap: 30px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    column-gap: 2px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: 5px, 5px;
    border-radius: 4px;
    margin: 3px;
}