body {
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    column-gap: 30px;
}

.container {
    max-height: 100vh;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 250px;
    height: 250px;
    background-color: white;
    box-shadow: 5px 5px 7px 1px gray;
    border-radius: 4px;
}