@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Segoe UI', system-ui, --apple-system, sans-serif;
    background-color: #be273907;
}

.custom-shadow {
    box-shadow: var(--card-shadow);
}

.skill-item {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: white;
    padding: 0.8rem;
    border-radius: 6px;
    box-shadow: var(--card-shadow);
    font-weight: 500;
}

.project-card {
    position: relative;
    width: 100%;
    box-shadow: var(--card-shadow);
    border-radius: 8px;
    overflow: hidden;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@media (min-width:768px) {
    .project-card {
        justify-content: space-between;
        max-width: 30%;
    }
}

@keyframes shift_up {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 4px;
    }
}

@keyframes shift_down {
    0% {
        bottom: 4px;
    }

    100% {
        bottom: 0px;
    }
}

.project-card:hover {

    animation-name: shift_up;
}

.project-card:not(:hover) {
    animation-name: shift_down;
}


.thumbnail-img {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    padding: 2rem;
    object-fit: contain;
    object-position: center;
}

.figma-thumbnail {
    padding: 1rem;
    object-fit: cover;
    object-position: center;
}

.space-invaders-thumbnail {
    padding-inline: 0.01rem;
    padding-block: 0.01rem;
    object-fit: contain;
    object-position: center;
    background-color: black;
}

.guessing-game-thumbnail {
    padding-inline: 0.01rem;
    padding-block: 0.01rem;
    object-fit: contain;
    object-position: center;
    background-color: #EBE9E9;
}

.clarity-thumbnail-img {
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: contain;
    object-position: center;
}

.jmessenger-thumbnail-img {
    width: 100%;
    height: 100%;
    background-color: #EDE1ED;
    object-fit: contain;
    object-position: center;
}



.hide {
    display: none;
}